@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-50: #edf7f1;
    --text-100: #dcefe3;
    --text-200: #b8e0c6;
    --text-300: #95d0aa;
    --text-400: #71c18d;
    --text-500: #4eb171;
    --text-600: #3e8e5a;
    --text-700: #2f6a44;
    --text-800: #1f472d;
    --text-900: #102317;
    --text-950: #08120b;

    --background-50: #ebf4ef;
    --background-100: #deede5;
    --background-200: #bddbcb;
    --background-300: #9cc9b0;
    --background-400: #7bb796;
    --background-500: #5ba47c;
    --background-600: #488463;
    --background-700: #36634a;
    --background-800: #244232;
    --background-900: #122119;
    --background-950: #09100c;

    --primary-50: #ecf8f1;
    --primary-100: #daf1e3;
    --primary-200: #b5e3c7;
    --primary-300: #8fd6ab;
    --primary-400: #6ac890;
    --primary-500: #45ba74;
    --primary-600: #37955d;
    --primary-700: #297045;
    --primary-800: #1c4a2e;
    --primary-900: #0e2517;
    --primary-950: #07130c;

    --secondary-50: #ecfaeb;
    --secondary-100: #d9f5d6;
    --secondary-200: #b3ebad;
    --secondary-300: #8ce085;
    --secondary-400: #66d65c;
    --secondary-500: #40cc33;
    --secondary-600: #33a329;
    --secondary-700: #267a1f;
    --secondary-800: #1a5214;
    --secondary-900: #0d290a;
    --secondary-950: #061405;

    --accent-50: #e6fbfe;
    --accent-100: #cef7fd;
    --accent-200: #9deffb;
    --accent-300: #6be7fa;
    --accent-400: #3adff8;
    --accent-500: #09d6f6;
    --accent-600: #07acc5;
    --accent-700: #058194;
    --accent-800: #045662;
    --accent-900: #022b31;
    --accent-950: #011519;
  }
  .dark {
    --text-50: #08120b;
    --text-100: #102317;
    --text-200: #1f472d;
    --text-300: #2f6a44;
    --text-400: #3e8e5a;
    --text-500: #4eb171;
    --text-600: #71c18d;
    --text-700: #95d0aa;
    --text-800: #b8e0c6;
    --text-900: #dcefe3;
    --text-950: #edf7f1;

    --background-50: #09100c;
    --background-100: #122119;
    --background-200: #244232;
    --background-300: #36634a;
    --background-400: #488463;
    --background-500: #5ba47c;
    --background-600: #7bb796;
    --background-700: #9cc9b0;
    --background-800: #bddbcb;
    --background-900: #deede5;
    --background-950: #eff6f2;

    --primary-50: #07130c;
    --primary-100: #0e2517;
    --primary-200: #1c4a2e;
    --primary-300: #297045;
    --primary-400: #37955d;
    --primary-500: #45ba74;
    --primary-600: #6ac890;
    --primary-700: #8fd6ab;
    --primary-800: #b5e3c7;
    --primary-900: #daf1e3;
    --primary-950: #ecf8f1;

    --secondary-50: #061405;
    --secondary-100: #0d290a;
    --secondary-200: #1a5214;
    --secondary-300: #267a1f;
    --secondary-400: #33a329;
    --secondary-500: #40cc33;
    --secondary-600: #66d65c;
    --secondary-700: #8ce085;
    --secondary-800: #b3ebad;
    --secondary-900: #d9f5d6;
    --secondary-950: #ecfaeb;

    --accent-50: #011519;
    --accent-100: #022b31;
    --accent-200: #045662;
    --accent-300: #058194;
    --accent-400: #07acc5;
    --accent-500: #09d6f6;
    --accent-600: #3adff8;
    --accent-700: #6be7fa;
    --accent-800: #9deffb;
    --accent-900: #cef7fd;
    --accent-950: #e6fbfe;
  }
}
